asn1crypto==0.24.0
autopep8==1.5
backports.functools-lru-cache==1.6.3
certifi==2020.12.5
chardet==4.0.0
cryptography==2.1.4
cycler==0.10.0
django-crispy-forms==1.9.0
enum34==1.1.6
idna==2.10
ipaddress==1.0.17
kaleido==0.2.1
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
lxml==4.6.3
matplotlib==2.2.5
mercurial==4.5.3
multitasking==0.0.9
numpy==1.16.6
opstrat==0.1.2
pandas==0.24.2
pathlib==1.0.1
pycodestyle==2.5.0
pycrypto==2.6.1
pyflakes==1.6.0
pygame==1.9.6
pygobject==3.26.1
pyparsing==2.4.7
pypng==0.0.20
PyQRCode==1.2.1
python-dateutil==2.8.1
pytz==2021.1
pyxdg==0.25
requests==2.25.1
scipy==1.2.3
seaborn==0.9.1
SecretStorage==2.3.1
six==1.15.0
subprocess32==3.5.4
urllib3==1.26.4
virtualenv==15.1.0
websocket-client==0.57.0
wxPython==3.0.2.0
wxPython-common==3.0.2.0

